@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
   margin: 0;
   padding: 0%;
   box-sizing: border-box;
}

.imgdiv{
    /* border: 2px solid red; */
    width: 270px;
    height: 500px;
    margin: auto;
    margin-right: 150px;
    margin-top: 133px;
    /* margin-block: 100px; */
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    position: relative;
    background-color: #fce2cf;
}

.imgdiv>img{
    width: 250px;
    margin-top: 100px;
    position: absolute;
    right: 80px;
}

.welcome{
    position: absolute;
    top: 100px;
    left: 200px;
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

body{
    background-color: #FEF6EF;
}

.email{
    position: absolute;
    margin-left: 185px;
    top: 152px;
    font-family: "Rubik", sans-serif;
    background-color: #FEF6EF;
    font-size: 13px;
    padding-inline: 15px;
    font-weight: 400;
    opacity: .60;
}

.input{
    position: absolute;
    top: 160px; 
    left: 170px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    color: black;
   background: none;
    padding-left: 40px;
    border: 1px solid #757575;
    outline: none;

}

.input2{
    position: absolute;
    top: 250px; 
    left: 170px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    color: black;
   background: none;
    padding-left: 40px;
    border: 1px solid #757575;
    outline: none;

}

.pass{
    font-size: 13px;
    position: absolute;
    top: 243px; 
    left: 185px;
    background-color: #FEF6EF;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    opacity: .60;
    padding-inline: 15px;
}

.mail{
    width: 17px;
    position: absolute;
    top: 178px;
    left: 180px;
}

.lock{
    width: 17px;
    position: absolute;
    top: 265px;
    left: 180px;
}

.eye{
    width: 17px;
    position: absolute;
    top: 265px;
    left: 425px;
}

.forg{
    font-size: 13px;
    font-family: "Rubik", sans-serif;
    position: absolute;
    top: 315px;
    left: 355px;
}

button{
   width: 300px;
   height: 40px;
   border-radius: 30px;
   border: none;
   background-color: #fce2cf;
   position: absolute;
    top: 385px;
    left: 170px;
    color: #92613A;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}

.line{
    width: 50px;
    border: 1px solid #757575;
    position: absolute;
    top: 455px;
    left: 290px;
}

.or{
    position: absolute;
    top: 445px;
    left: 303px;
    background-color: #FEF6EF;
    padding-inline: 5px;
}

.socildiv{
    /* border: 2px solid blue; */
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 465px;
    left: 210px;
}

.socildiv>img{
    width: 20px;
}

.last{
    font-family: "Rubik", sans-serif;
    font-size: 13px;
    position: absolute;
    top: 525px;
    left: 210px;
    opacity: .50;
}

.last>span{
    color: #92613A;
    font-weight: 800;
    opacity: none;
}

@media (min-width:200px) and (max-width:420px) {
    body{
        width: 100%;
    }

    .imgdiv{
        width: 100%;
        /* width: 600px; */
        height: 500px;
        position: absolute;
        top: -350px;
        border-bottom-right-radius: 190px;
    border-bottom-left-radius: 190px;
    }
.imgdiv>img{
    margin-top: 250px;
    margin-right: 200px;
    width: 200px;
}

.welcome{
    position: absolute;
    left: 100px;
    top: 280px;
}
.input{
    position: absolute;
    left: 100px;
    top: 340px;
    font-size: 20px;
}
.email{
   position: absolute;
    left: -180px;
    top: 350px;
    font-weight: 900;
    font-size: 20px; 
}
button{
    margin-top: 130px;
    position: absolute;
    left: 100px;
}
.input2{
    position: absolute;
    left: 130px;
    top: 410px;
    font-size: 20px; 
}
.pass{
    position: absolute;
    left: 5px;
    top: 420px;
    font-weight: 900;
    font-size: 20px; 
}
.last{
    margin-top: 150px;
    left: 60px;
    font-weight: 700;
    font-size: 20px;
}
.socildiv{
    margin-top: 140px;
    left: 150px;
}
.line{
    margin-top: 120px;
    left: 230px;
}
.or{
    margin-top: 120px;
    left: 243px;
    font-weight: 900;
}
.forg{
    margin-top: 150px;
    font-weight: 500;
    margin-left: -80px;
    font-size: 15px;
}
.eye{
   position: absolute;
    left: 380px;
    top: 430px; 
}
.mail{
  position: absolute;
    left: 110px;
    top: 355px;   
}
    
}



